
.item-carusel {

    &__container { 
        overflow: hidden;
        width: 598px;
        height: 400px;
    }
}
.carusel {
    position: relative;
    &:before {
        content:'';
        border: 11px solid #f39f7b;
        position: absolute;
        top:0;
        bottom: 0;
        right: 100px;
        left: 100px;
        display: block;
    }
    &__slide {
        display: flex;
        transform: translateX(-598px);
        position: relative;
        width: 598px;
    }

    &__img {
        display: block;
        width: 100%;
    }
}
.button {
    background-color: #f39f7b;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: grid;
    cursor: pointer;
    transition: all 1s ease 0s;
    &:hover {
        background-color: #EE5514;
    }
    &__btn {
        display: grid;
        align-items: center;
        justify-items: center;
       
       
    }
}
.transformAnimation {
    transition: 2s ease-in-out;
}
